[Unit]
Description=Service for hourly new wallpaper
After=wallgen-dbus.service

[Timer]
OnCalendar=hourly

[Install]
WantedBy=graphical-session.target
