[Unit]
Description=Service for a new wallpaper
After=wallgen-dbus.service

[Service]
Restart=on-failure
ExecStart=python -m wallgen

[Install]
WantedBy=graphical-session.target
