[Unit]
Description=Service for a new wallpaper
After=wallgen-dbus.service

[Service]
Restart=on-failure
ExecStart=/opt/WallGen/bin/wallgen

[Install]
WantedBy=graphical-session.target
