[Unit]
Description=Service for a new wallpaper on display changes
After=wallgen-dbus.service

[Service]
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/wallgen --monitor

[Install]
WantedBy=graphical-session.target
