[Unit]
Description=Service for a new wallpaper on display changes

[Service]
Type=dbus
RestartSec=1s
BusName=de.thm.mni.mhpp11.WallGen

Restart=on-failure
ExecStart=python -m wallgen --dbus
ExecStop=python -m wallgen --quit

[Install]
WantedBy=graphical-session.target
